@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

@font-face {
  font-family: 'Munken Sans';
  src:
    url('/fonts/munken-sans/MunkenSansWeb-Regular.woff2') format('woff2'),
    url('/fonts/munken-sans/MunkenSansWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Munken Sans';
  src:
    url('/fonts/munken-sans/MunkenSansWeb-Medium.woff2') format('woff2'),
    url('/fonts/munken-sans/MunkenSansWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Munken Sans';
  src:
    url('/fonts/munken-sans/MunkenSansWeb-Bold.woff2') format('woff2'),
    url('/fonts/munken-sans/MunkenSansWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
